<h1 class="display-4">Bienvenu sur Dématplus</h1>
<p class="md-4">Ceci est une application de création et gestion, de documents dématérialisés.</p>
<a href="#" class="btn btn-light">Liste des articles</a>
<a href="#" class="btn btn-light">Ajouter un article</a>